#chat-container{
    overflow: hidden;
    height: 100vh;
    position: relative;
}
#chat-name{
    position: fixed;
    width:100%;
    min-height: 3em;
    background-color:#1e202c;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    justify-content: space-between;
    padding: 0 1em;
}
#chat-name span{
    color:white;
}

#chat{
    overflow-x: scroll;
    background-color: black;
    padding:4em 1em;
    height: 100vh;
    background-image: url("../media/background.jpeg");
}

.fa-spinner{
    font-size: 3em;
    color:white;
    position: absolute;
    top:50%;
    left: 45%;
}
.fa-info-circle{
    color:white;
    cursor:pointer;
}
.noMessages{
    display: flex;
    justify-content: center;
    color:white;
    font-size:1.5em;
}